:root {
  --mainBg: hsl(217, 54%, 11%);
  --cardBg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --FontSize: 18px;
  --Blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --FontWeight: 300;
  --FontWeight2: 400;
  --FontWeight3: 600;
}
body {
  background-color: var(--mainBg);
  font-family:Outfit;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container{
  background: var(--cardBg);
  width: 100%;
  max-width: 360px;
  height: 600px;
  overflow: hidden;
  border-radius: 16px;
  transition: transform 0.3s ease;
  box-shadow: 0 20px 30px -10px hsl(217, 19%, 24%);
}
.card-container:hover {
    transform: translateY(-5px);
  }
.image-container {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.card-container img {
  width: 100%;
  border-radius: 16px;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card-container:hover .card-container img {
    transform: scale(1.05);
}
.card-container h1 {
  color: var(--White);
  font-size: 1.3rem;
  margin: 0.4rem;
  padding: 0.4rem;
}
.card-container p {
  color: var(--Blue);
  margin: 0.4rem;
  padding: 0.4rem;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem;
}
.price-value {
  color: var(--Cyan)
}
.time-frame {
  color: var(--Blue);
}
.card-details hr {
  color: var(--cardBg);
  margin: 0.5rem;
  padding: 0.5rem;
}
