:root {
  --mainBg: hsl(217, 54%, 11%);
  --cardBg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  --FontSize: 18px;
  --Blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --FontWeight: 300;
  --FontWeight2: 400;
  --FontWeight3: 600;
}
body {
  background-color: var(--mainBg);
  font-family:Outfit;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container{
  background: var(--cardBg);
  width: 100%;
  max-width: 360px;
  height: 630px;
  overflow: hidden;
  border-radius: 16px;
  transition: transform 0.3s ease;
  box-shadow: 0 20px 30px -10px hsl(217, 19%, 24%);
}
.card-container:hover {
    transform: translateY(-5px);
  }
.image-container {
  overflow: hidden;
}
.card-container img {
  width: 300px;
  border-radius: 18px;
  max-height: 290px;
  margin: 1.8rem;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.card-container:hover .card-container img {
  transform: scale(1.05);
}
.card-container h1 {
  color: var(--White);
  font-size: 1.2rem;
  font-weight: var(--FontWeight3);
  margin: 1rem 2rem;
  line-height: 1;
}
.card-container p {
  color: var(--Blue);
  margin: 1.4rem;
  padding: 0.4rem;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  margin: 0.6rem;
}
.price-value {
  color: var(--Cyan);
  margin: 1.3rem;
}
.time-frame {
  color: var(--Blue);
  margin: 0.3rem;
}
.card-details hr {
  color: var(--cardBg);
  margin: 0.5rem;
}
.profile-section {
  display: flex;
  flex-direction: row;
}
.profile-section img {
  width: 100%;
  max-width: 50px;
  max-height: 50px;
  height: 100%;
  border: 2px solid white;
  border-radius: 50%;
  margin: 1.2rem;
}
.profile-content {
  margin-left: 0;
}
.profile-content .profile-name {
  color: var(--White);

}
